<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>

    <script src="http://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
        h2 {
            margin-left: 68%;
        }
        
        div.login {
            width: 330px;
            height: 150px;
            margin-left: 60%;
            padding: 0;
            border: 1px solid black;
        }
        
        span {
            margin-left: 5px;
        }
    </style>


</head>

<body>
    <H2>로그인</H2>
    <form action="login" method="POST">
        <div class="login">
            </p>
            <span>ID : </span>
            <input type="text" style="margin-left: 50px;" placeholder="아이디를 입력하세요" id="username" name="username"></input>
            </p>
            <span>Password : </span>
            <input type="password" placeholder="비밀번호 입력하세요" id="password" name="password"></input>
            <button type="button" id="PwShowHide"> 표시</button>
            </p>
            <div style="text-align: center;">
                <button type="button" id="signUpB" onclick="location.href='/shp/joinForm'">회원가입</button>
                <button type="button" id="LoginB">로그인</button>
            </div>
        </div>

    </form>

    <script type="text/javascript">
        var PwShowHide = document.getElementById('PwShowHide');
        $(function() {
            $('#PwShowHide').on('click', function() {
                if (document.getElementById('password').getAttribute('type') == "password") {

                    $('#password').attr('type', 'text');
                } else {

                    document.getElementById('password').setAttribute('type', 'password');
                }
            });



        });
    </script>
</body>

</html>