<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <style>
        h2 {
            margin-left: 50%;
        }
        
        table {
            margin-left: 40%;
        }
    </style>
</head>

<body>
    <h2>회원가입</h2>
    <form action="/join" method="post">
        <div>
            <table border="1" style="width: 400px; height: 200px; text-align: center;">
                <tr>
                    <td>Id</td>
                    <td><input type="text" id="id" name="id" style="width: 300px;"></td>
                </tr>
                <tr>
                    <td>Pw</td>
                    <td><input type="password" id="password" name="password" style="width: 300px; " autocomplete="off"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" id="username" name="username" style="width: 300px;"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="eamil" id="email" name="email" style="width: 300px;"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">완료</button>
                        <button type="button" onclick="location.href='/login'">취소</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>

</html>